head
    title Alexandra Greindl
    link(rel="stylesheet", href="index.css")

body
    div
        h1 SOON
        div
            a(href="https://www.instagram.com/alexandragreindl/", target="_blank", rel="noopener noreferrer")
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/800px-Instagram-Icon.png", alt="instagram")

            a(href="https://www.facebook.com/alexandra.greindl", target="_blank", rel="noopener noreferrer")
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png", alt="")